@model JadooTravel.Dtos.FeatureDtos.GetFeatureByIdDto
@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />

    <form method="post">
        <input type="hidden" asp-for="FeatureId" />

        <input type="text" asp-for="Title" placeholder="Enter Title" class="form-control" />
        <br />
        <input type="text" asp-for="MainTitle" placeholder="Enter MainTitle" class="form-control" />
        <br />
        <textarea asp-for="Description" placeholder="Enter Feature Description" rows="5" class="form-control"></textarea>
        <br />
        <input type="text" asp-for="VideoUrl" placeholder="Enter Video Url" class="form-control" />
        <br />
        
        <br />
        <button class="btn btn-success">Update Feature</button>
    </form>

</div>

