<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link rel="shortcut icon" type="image/png" href="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/Spike-Bootstrap-1.0.0/src/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        <!--  App Topstrip -->
        <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
                <a class="d-flex justify-content-center" href="/Category/CategoryList">
                    <img src="~/Spike-Bootstrap-1.0.0/src/assets/images/logos/images.png" alt="" width="50">
                </a>
            </div>
        </div>
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
               
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Dashboard/Index" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Category/CategoryList" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Category</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Destination/DestinationList" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Destination</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Feature/FeatureList" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Feature</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Reservation/ReservationList" aria-expanded="false">
                                <iconify-icon icon="solar:calendar-mark-line-duotone"></iconify-icon>
                                <span class="hide-menu">Reservation</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/Testimonial/TestimonialList" aria-expanded="false">
                                <iconify-icon icon="solar:chat-round-line-duotone"></iconify-icon>
                                <span class="hide-menu">Testimonial</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" href="/TripPlan/TripPlanList" aria-expanded="false">
                                <iconify-icon icon="solar:map-point-wave-line-duotone"></iconify-icon>
                                <span class="hide-menu">Trip Plan</span>
                            </a>
                        </li>
                    </ul>



                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">

            <div class="body-wrapper-inner">
                <div class="container-fluid">
                    <!--  Header Start -->
                    <header class="app-header">
                        
                    </header>
                    <!--  Header End -->
                    @RenderBody()
                    
                </div>
            </div>
        </div>
    </div>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/sidebarmenu.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/app.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Spike-Bootstrap-1.0.0/src/assets/js/dashboard.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>